* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
   background-color:#00bfff;
   height: 100vh; 
   display: flex;
   justify-content: center;
   align-items: center;
}
 /* Centering login form */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-form {
    background-color: #f0f8ff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300 px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
/* Styling the input fields */
.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
/* Styling the login button */
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #185a87;
}